#filled-basic{
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    
}
#button-topbar{
    background-color: white;
    color: black;
    margin-left: 12px;
}

.toolbar{
    justify-content: space-around;
    background-color:rgb(255, 255, 255) ;
    color: black;
    
}
.category-button-list{
    display: flex;
    justify-content: space-around;
}