#filled-basic{
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    
}
#button-topbar{
    background-color: white;
    color: black;
    margin-left: 12px;
}

.toolbar{
    justify-content: space-around;
    background-color:rgb(255, 255, 255) ;
    color: black;
    
}
.category-button-list{
    display: flex;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    color: black;
}
.login-form{
    margin-top: 10%;
    text-align: center;

}
.inputDiv{
    margin-top: 15px;
    margin-bottom: 20px;
}
.login-input{
    padding: 12px;
    width: 80%;
}
.login-button{
    background-color: black;
}
#login-button{
    background-color: black;
}
.link-div{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.link-login{
color: black;
text-decoration: none;
}
.link-create{
    text-decoration: none;
    color: white;
}
.invalid-feedback{
        color: red;
        margin-bottom: 5px;
        text-align: left;
        margin-left: 10%;
}
#form-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    
}
#title{
text-align: center;
}
label{
    margin-bottom:1%;
    margin-top: 1%;
}
.product-form{
        border: solid white;
            border-radius: 12px;
            margin: 0% 5%;
            padding: 20px;
}
#product-button{
    background-color: black;
    color: white;
    margin: 1% 40%;
}
#products{
   display: flex;
   flex-wrap: wrap;
   margin: 1%;
   
}
#product-card {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 50px;  
}
#action{
    display: flex;
    justify-content: space-around;
}
#price{
background-color: darkgray;
color: white;
border-radius: 20px;
margin-left: 6%;
text-align: center;
width: 80%;
}
.orderDiv{
    display: flex;
        justify-content: space-around;
}
.paymentDiv{
    margin-top: 5%;
}



